body {
    padding-top: 80px;
    padding-bottom: 80px;
}

nav.game-nav div[class^="col-"] {
  padding: 0;
}

nav.game-nav button.btn {
  width: 100%;
}

/*#campaign-show {
height: 400px;
background-image: url(http://d.fastcompany.net/multisite_files/cocreate/imagecache/1280/article_feature/1280-dungeons-and-dragons.jpg);
opacity: 0.7;

}*/
