body {
    padding-top: 80px;
    padding-bottom: 80px;
    height: 100%;
}

a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
}

#top-nav-bar.hideme{
  top: -50px;
  transition-duration: .25s;

}

#top-nav-bar.shown {
  top: 0;
  transition-duration: .25s;
}

#play-game-nav {
  bottom: -50px;
  transition-duration: .25s;
}

#play-game-nav.shown {
  bottom: 0;
}

nav.game-nav div[class^="col-"] {
  padding: 0;
}

nav.game-nav button.btn {
  width: 100%;
}

.nav-bar {
  margin: 0;
}

.play-menu-container {
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 30%;
}

.campaign-container {

}

.campaign-container .row {
  margin-bottom: 2em;
}

.campaign-wrapper {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.campaign-wrapper img {
  width: 100%;
}

.campaign-meta {
  padding: 1em 0.8em 2em;
}

.campaign-meta>a>p:last-child {
  margin: 0;
}

p.campaign-title {
  font-size: 1.2em;
}

p.campaign-author {
  font-size: 0.9em;
}

.campaign-banner {
  width: 100%;
  position: relative;
  margin-top: -30px;
}

.campaign-banner img {
  width: 100%;
}

.campaign-banner-title {
  position: absolute;
  top: 2em;
  left: 5em;
}

.campaign-banner-button {
  position: absolute;
  bottom: 2em;
  right: 5em;
}

.campaign-banner-description {
  position: absolute;
  bottom: 2em;
  left: 5em;
}