body {
    padding-top: 80px;
    padding-bottom: 80px;
}

a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
}

nav.game-nav div[class^="col-"] {
  padding: 0;
}

nav.game-nav button.btn {
  width: 100%;
}

.nav-bar {
  margin: 0;
}

.campaign-container {

}

.campaign-container .row {
  margin-bottom: 2em;
}

.campaign-wrapper {
  background-color: rgba(255,255,255,0.1);
  
}

.campaign-wrapper:hover {
  box-shadow: 0 5px 10px 0 rgba(217, 43, 84, 0.16),
              0 5px 15px 0 rgba(217, 43, 84, 0.12);
}

.campaign-wrapper img {
  width: 100%;
}

.campaign-meta {
  padding: 1em 0.8em 2em;
}

.campaign-meta>a>p:last-child {
  margin: 0;
}

p.campaign-title {
  font-size: 1.2em;
}

p.campaign-author {
  font-size: 0.9em;
}

.campaign-banner {
  width: 100%;
  position: relative;
  margin-top: -30px;
}

.campaign-banner .container {
  width: 100%;
}

.campaign-banner img {
  width: 100%;
}

.campaign-banner-top {
  position: absolute;
  top: 0; 
}

.campaign-banner-bottom {
  position: absolute;
  bottom: 0; 
  padding-bottom: 5em;
  text-align: center; 
}

.campaign-banner-title,
.campaign-banner-description {
  text-shadow: 0px 2px 6px rgba(150, 150, 150, 0.6);
}

.campaign-banner-button,
.campaign-copy-button {
  display: inline-block;
}

/* override bootstrap components*/
.form-control {
  border: none;
}

.nav-tabs > li > a:hover {
    color: #000;
}

textarea[name="beats[]"]:focus {
  height: 200px;
}

.btn {
  border: 0.2em solid;
  -webkit-transform: skew(-8deg);
  -ms-transform: skew(-8deg);
  -o-transform: skew(-8deg);
  transform: skew(-8deg);
  background: 0 0;
  -o-transition: .3s background ease,.3s border ease;
  transition: .3s background ease,.3s border ease;
}

.btn:hover, 
.btn:focus, 
.btn.focus {
  background-color: #D92B54;
  border-color: #D92B54;
}

