<div id="beats-list">    
  <div class="form-group">
    <label for="beat-1">Cue for <%= "my_beat" %></label>
    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#edit1" aria-controls="home" role="tab" data-toggle="tab">Edit</a></li>
        <li role="presentation">
          <a href="#preview1" aria-controls="profile" role="tab" data-toggle="tab" data-role="preview">Preview</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="edit">
          <textarea id="cue" class="form-control" rows="3" name="cue"></textarea>
        </div>
        <div role="tabpanel" class="tab-pane" id="preview">
          <div></div>
        </div>
      </div>

    </div>
  </div>
</div>