<div class="container">
  <div class="row">
    <div class="col-sm-10 col-lg-8 col-sm-offset-1 col-lg-offset-2">
      <h1>New Campaign</h1>
      <hr>
      <form id="new-campaign-form" method="post" action="/campaigns/new">
        <!-- campaign title -->
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" name="title">
        </div>

        <!-- campaign image -->
        <div class="form-group">
          <label for="title">Image URL</label>
          <input type="text" class="form-control" name="url">
        </div>

        <!-- campaign description -->
        <div class="form-group">
          <label for="title">Description</label>
          <textarea class="form-control" rows="3" name="description"></textarea>
        </div>

        <!-- beats list -->
        <div id="beats-list">    
          <div class="form-group">
            <label for="beat-1">Beat 1</label>
            <div>
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#edit1" aria-controls="home" role="tab" data-toggle="tab">Edit</a></li>
                <li role="presentation">
                  <a href="#preview1" aria-controls="profile" role="tab" data-toggle="tab" data-role="preview">Preview</a>
                </li>
                <li role="presentation"><a href="#cue1" aria-controls="home" role="tab" data-toggle="tab">Cue</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="edit1">
                  <textarea id="beat-1" class="form-control" rows="3" name="beats[]"></textarea>
                </div>
                <div role="tabpanel" class="tab-pane" id="preview1">
                  <div></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="cue1">
                  <textarea id="cue-1" class="form-control" rows="3" name="cues[]"></textarea>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- save button -->
        <div class="form-group">
          <a href="" class="new-beat-btn"><span class="glyphicon glyphicon-plus"></span></a>
          <button type="submit" class="btn btn-default pull-right">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/template" id="beat-template">
  <div class="form-group">
    <label for="beat-{{id}}">Beat {{id}}</label>
    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#edit{{id}}" aria-controls="home" role="tab" data-toggle="tab">Edit</a>
        </li>
        <li role="presentation">
          <a href="#preview{{id}}" aria-controls="profile" role="tab" data-toggle="tab" data-role="preview">Preview</a>
        </li>
        <li role="presentation"><a href="#cue{{id}}" aria-controls="home" role="tab" data-toggle="tab">Cue</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="edit{{id}}">
          <textarea id="beat-{{id}}" class="form-control" rows="3" name="beats[]"></textarea>
        </div>
        <div role="tabpanel" class="tab-pane" id="preview{{id}}">
          <div></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="cue{{id}}">
          <textarea id="cue-{{id}}" class="form-control" rows="3" name="cues[]"></textarea>
        </div>
      </div>

    </div>
  </div>
</script>