<div class="container">
  <div class="row">
    <div class="col-sm-10 col-lg-8 col-sm-offset-1 col-lg-offset-2">
      <div class="well">...
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat blandit lectus, id vulputate leo blandit eu. Maecenas quis euismod ex. Nullam pharetra eu elit in lacinia. Fusce eleifend, turpis et feugiat ullamcorper, dui tellus eleifend tellus, eget mollis sem sapien a urna. Etiam tortor orci, eleifend quis lectus non, venenatis consectetur risus. Proin eget est sem. Duis quis placerat velit, nec tristique risus. Aenean eu ante venenatis, rhoncus erat sit amet, tincidunt dui. Ut sodales, metus nec placerat cursus, ante est fringilla justo, vitae sodales justo mi in sapien.

Vivamus aliquam sit amet ligula in pellentesque. Proin in dictum sapien. Nunc a eros eget nunc tincidunt vehicula. Morbi consequat tempor diam, nec eleifend augue efficitur sit amet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed eget magna viverra, pellentesque lectus sed, vulputate sapien. In tincidunt massa ac eros sagittis, ac tristique dolor placerat. Fusce finibus, dolor sed malesuada convallis, tellus ante bibendum sapien, eget mollis nunc sapien vitae magna. Cras ut purus ac libero euismod aliquam.

Nunc ut lectus aliquet, porta purus nec, varius lectus. Mauris maximus ligula sed lectus mollis, quis ullamcorper nisi eleifend. Nullam fringilla, risus semper posuere volutpat, lectus arcu vulputate nunc, ut accumsan nisl turpis non justo. Quisque quis nunc mattis, elementum mauris et, scelerisque sem. Sed ultricies ipsum sem. Cras elit erat, fermentum sit amet commodo id, pretium consectetur diam. Cras vel maximus lacus. Ut pharetra consectetur lectus, non condimentum erat ultricies ut. Nunc et cursus purus. In in placerat lacus, at facilisis eros.

Ut commodo euismod purus, quis facilisis tellus pulvinar non. Nunc ultricies lacus in velit vulputate malesuada. Phasellus sed mi in orci sagittis finibus eget vitae augue. Aliquam sagittis justo at purus consectetur, in mollis ante finibus. Vivamus id arcu neque. Curabitur sollicitudin sagittis fringilla. Vivamus ullamcorper urna mauris, dignissim iaculis purus maximus eu. Donec euismod volutpat scelerisque. Suspendisse mattis elit in vestibulum aliquet. Praesent mattis, nisi at facilisis posuere, quam justo feugiat mauris, id ornare leo ligula varius ex. Quisque dignissim mi nulla, in bibendum dui posuere nec. Vivamus sit amet hendrerit eros, sit amet lobortis sapien. Mauris tempor massa id urna eleifend semper. Mauris ut lacus vitae libero pretium scelerisque.

Etiam ultricies feugiat velit sed suscipit. Aliquam cursus finibus diam eu suscipit. Aenean nec pharetra tortor. Fusce et venenatis libero, eget dictum est. Nullam nec massa ut sapien mattis imperdiet in nec risus. Aliquam sit amet congue velit. Nullam leo nisi, aliquet sed ante eu, faucibus tempus lorem. Nulla eros nulla, vulputate in mauris sed, consectetur commodo libero. Phasellus ornare sapien enim, ac congue diam fringilla id. Proin dictum auctor bibendum. Sed id viverra urna. Phasellus ut mollis justo, vitae pellentesque augue. Mauris sit amet faucibus ipsum. In id dui nisl.
      </div>
    </div>
  </div>
</div>

<nav class="game-nav navbar navbar-default navbar-fixed-bottom">
  <div class="">
    <div class="col-xs-4">
      <button class="btn btn-default">PREV</button>
    </div>
    <div class="col-xs-4">
      <button class="btn btn-default">EXIT</button>
    </div>
    <div class="col-xs-4">
      <button class="btn btn-default">NEXT</button>
    </div>
  </div>
</nav>