<div class="container campaign-container">
  <!-- first row -->
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <h1>Featured Campaigns</h1>
      <div class="row">
        <!-- first item -->
        <div class="col-lg-6 col-md-6">
          <div class="campaign-wrapper">
            <div class="campaign-img">
              <a href="/campaigns/1">
                <img src="http://placehold.it/500x250">
              </a>
            </div>
            <div class="campaign-meta">
              <a href="/campaigns/1">
                <p class="campaign-title">Campaign Number One</p>
                <p class="campaign-author">Author</p>
              </a>
            </div>
          </div>
        </div>
        <!-- second item -->
        <div class="col-lg-6 col-md-6">
          <div class="campaign-wrapper">
            <div class="campaign-img">
              <a href="/campaigns/1">
                <img src="http://placehold.it/500x250">
              </a>
            </div>
            <div class="campaign-meta">
              <a href="/campaigns/1">
                <p class="campaign-title">Campaign Number One</p>
                <p class="campaign-author">Author</p>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- second row -->
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="row">
        <!-- first item -->
        <div class="col-lg-4">
          <div class="campaign-wrapper">
            <div class="campaign-img">
              <a href="/campaigns/1">
                <img src="http://placehold.it/500x250">
              </a>
            </div>
            <div class="campaign-meta">
              <a href="/campaigns/1">
                <p class="campaign-title">Campaign Number One</p>
                <p class="campaign-author">Author</p>
              </a>
            </div>
          </div>
        </div>
        <!-- second item -->
        <div class="col-lg-4">
          <div class="campaign-wrapper">
            <div class="campaign-img">
              <a href="/campaigns/1">
                <img src="http://placehold.it/500x250">
              </a>
            </div>
            <div class="campaign-meta">
              <a href="/campaigns/1">
                <p class="campaign-title">Campaign Number Two</p>
                <p class="campaign-author">Author</p>
              </a>
            </div>
          </div>
        </div>
        <!-- third item -->
        <div class="col-lg-4">
          <div class="campaign-wrapper">
            <div class="campaign-img">
              <a href="/campaigns/1">
                <img src="http://placehold.it/500x250">
              </a>
            </div>
            <div class="campaign-meta">
              <a href="/campaigns/1">
                <p class="campaign-title">Campaign Number Three</p>
                <p class="campaign-author">Author</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- third row -->
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="row">
        <!-- first item -->
        <div class="col-lg-4">
          <div class="campaign-wrapper">
            <div class="campaign-img">
              <a href="/campaigns/1">
                <img src="http://placehold.it/500x250">
              </a>
            </div>
            <div class="campaign-meta">
              <a href="/campaigns/1">
                <p class="campaign-title">Campaign Number One</p>
                <p class="campaign-author">Author</p>
              </a>
            </div>
          </div>
        </div>
        <!-- second item -->
        <div class="col-lg-4">
          <div class="campaign-wrapper">
            <div class="campaign-img">
              <a href="/campaigns/1">
                <img src="http://placehold.it/500x250">
              </a>
            </div>
            <div class="campaign-meta">
              <a href="/campaigns/1">
                <p class="campaign-title">Campaign Number Two</p>
                <p class="campaign-author">Author</p>
              </a>
            </div>
          </div>
        </div>
        <!-- third item -->
        <div class="col-lg-4">
          <div class="campaign-wrapper">
            <div class="campaign-img">
              <a href="/campaigns/1">
                <img src="http://placehold.it/500x250">
              </a>
            </div>
            <div class="campaign-meta">
              <a href="/campaigns/1">
                <p class="campaign-title">Campaign Number Three</p>
                <p class="campaign-author">Author</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>