<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  --> 
  <!-- bootstrap -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css">
  <!-- fontawesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <!-- custom stylesheet -->
  <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/application.css">
  <title>  <%= !@campaign || @campaign.title.nil? ? "DM on Rails" : "#{@campaign.title} - DM on Rails" %></title>
</head>
<body>

  <div class="bg-overlay"></div>

  <%= erb :_navbar %>
  <%= yield %>


  <!-- JQuery 1.9.1 -->
  <script src="/javascript/jquery.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="/javascript/bootstrap.min.js"></script>
  <!-- Application script -->
  <script src="/javascript/application.js"></script> 
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
  <script type="text/javascript" src="/javascript/jquery.fittext.js"></script>
</body>
</html>
